@import url("./src/components/header/NavigationComponent.css");
@import url("./src/components/main/MainComponent.css");
@import url("./src/components/main/HeroComponent.css");
@import url("./src/components/main/Buttons.css");
@import url("./src/components/main/AboutComponent.css");
@import url("./src/components/main/TechStackComponent.css");
@import url("./src/components/main/ProjectsComponent.css");
@import url("./src/components/main/ContactComponent.css");
@import url("./src/components/footer/FooterComponent.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins" , sans-serif, serif ; 
  text-decoration: none;
  list-style: none;
  
}
:root{
  /*! colors */
  --dci-colorNavMenu: white;
  --dci-LGradient: linear-gradient(90deg, #13B0F5, #bbd501);
  --dci-btnBackground: #D7FFE0;
  --dci-btnText: #018C0F;
  --dci-textTitle: #42446E;
  --dci-textDark: #666666;
  --dci-textLight: #A7A7A7;
  --dci-textTitleCard: #000000;
  --dci-textCard: #666666;

  /*! fonts */
  --dci-navYFooter: "DM sans" , sans-serif;

  /*! sizes */
  --dci-size-buttons: 9px;
  --dci-size-xxs: 12px;
  --dci-size-xs: 16px;
  --dci-size-s: 18px;
  --dci-size-sm: 20px;
  --dci-size-m: 28px;
  --dci-size-l: 32px;
  --dci-size-xl: 42px;
  --dci-size-xxl: 58px;

  /*! margins */
  --dci-margins-xxs: 4px;
  --dci-margins-xs: 8px;
  --dci-margins-s: 12px;
  --dci-margins-m: 16px;
  --dci-margins-l: 20px;
  --dci-margins-xl: 24px;
  --dci-margins-xxl: 28px;

  /*! paddings */
  --dci-padding-xxs: 4px;
  --dci-padding-xs: 8px;
  --dci-padding-s: 12px;
  --dci-padding-m: 16px;
  --dci-padding-l: 20px;
  --dci-padding-xl: 24px;
  --dci-padding-xxl: 28px;

  /*! border */
  --dci-border-footer: 3px solid --dci-textDark;
  
  /*! radius */

  --dci-radius-img: 20px;
  --dci-radius-btn: 24px;

  /*! shadows */
  --dci-shadow-card:2px 2px 100px 0px rgba(0,0,0,0.1);
}

body{
  width: 100%;
}
/*? header */
header{
  display: flex;
  justify-content: center;
}
.flex_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
  color: var(--dci-textTitle);
  margin-left: 10px;
}
a{
  color: var(--dci-textDark);
}
li{
  font-size: var(--dci-size-sm);
  font-family: var(--dci-border-footer);
}
a>img{
  width: 28px;
  margin: 10px;
}
h2{
  color: var(--dci-textTitle);
}
span{
  cursor: pointer;
}
/*? main */


@media (max-width: 450px) {

  main{
    margin-top: 80px;
  }
}