
#hero {
  height: 80svh;
  justify-content: space-evenly;
}

.divImg {
  width: 300px;
  position: relative;
  border-radius: 50%;
}

/* Media query para estilos responsivos */
@media (max-width: 450px) {
  main {
    margin-top: 80px; /* Ajuste de margen superior */
  }
  
  main {
    margin-top: 80px; /* Margen superior */
    width: 100%; /* Ancho completo */
  }
  #hero{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  
  .divImg::before {
    /* Ajuste de posición del pseudo-elemento */
    width: 295px;
    height: 295px;
    left: 3px;
    top: -7px;
  }

}
